[GENERAL]
IMPORT_DIR=
ERRORS_DIR=

[TIMEOUT]
SCAN_TIMEOUT=300
PING_TIMEOUT_TO_MINUTES=
EMAIL_TIMEOUT_TO_MINUTES=

[LOG]
LOG_DIR=
RETENTION_IN_DAY=

[MAIL]
MAIL_SMTP=
MAIL_SRC=
MAIL_OBJECT=
MAIL_DEST=

