<?XML VERSION=""1.0"" ENCODING=""ISO-8859-1""?>
<AUTHORIZE>
<DAY>
<NAME>LUNDI</NAME>
<BEGINNING></BEGINNING>
<END></END>
</DAY>
<DAY>
<NAME>MARDI</NAME>
<BEGINNING></BEGINNING>
<END></END>
</DAY>
<DAY>
<NAME>MERCREDI</NAME>
<BEGINNING></BEGINNING>
<END></END>
</DAY>
<DAY>
<NAME>JEUDI</NAME>
<BEGINNING></BEGINNING>
<END></END>
</DAY>
<DAY>
<NAME>VENDREDI</NAME>
<BEGINNING></BEGINNING>
<END></END>
</DAY>
<DAY>
<NAME>SAMEDI</NAME>
<BEGINNING></BEGINNING>
<END></END>
</DAY>
<DAY>
<NAME>DIMANCHE</NAME>
<BEGINNING></BEGINNING>
<END></END>
</DAY>
</AUTHORIZE>

<PROHIBITED>
<DAY>
<NAME></NAME>
<BEGINNING></BEGINNING>
<END></END>
</DAY>
</PROHIBITED>
</XML>
